
@import "../../glocalStyle.less";

.elementContainer {
    display: flex;
    flex-direction: row;
    background: @lightgray;
    height: 70px;
    border: @standardBorder;
    padding: @standardPadding;
    text-decoration: none;
    color: @darkblue;
   &:hover {
    background-color: white;
    color: @blue;
  }
}

  